Challenge 2: Count Commits

Count how many commits were made in the past week.

    Obtain all the commits made in the past week via API, which is a JSON array that contains multiple commit objects.

    Count how many commit objects are contained in the array.

In [1]:
# imports
from dotenv import load_dotenv
import os
import json
import requests
import pandas as pd

In [2]:
# KEY
load_dotenv(dotenv_path='.env')
SECRET_KEY = os.getenv("KEY")

In [3]:


getCommits=requests.get('https://api.github.com/repos/ironhack-datalabs/datamad0119/stats/participation')
commits= getCommits.json()
commits

{'all': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  2,
  0,
  3,
  1,
  31,
  0,
  13,
  3,
  3,
  7,
  10,
  0,
  9,
  2,
  10,
  29,
  59,
  16,
  22,
  18,
  23,
  18,
  1,
  7,
  1,
  18,
  6,
  10,
  8,
  1],
 'owner': [0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0]}

In [6]:
dfCommits=pd.DataFrame(commits)
dfCommits

    all  owner
0     0      0
1     0      0
2     0      0
3     0      0
4     0      0
5     0      0
6     0      0
7     0      0
8     0      0
9     0      0
10    0      0
11    0      0
12    0      0
13    0      0
14    0      0
15    0      0
16    0      0
17    0      0
18    0      0
19    0      0
20    0      0
21    0      0
22    2      0
23    0      0
24    3      0
25    1      0
26   31      0
27    0      0
28   13      0
29    3      0
30    3      0
31    7      0
32   10      0
33    0      0
34    9      0
35    2      0
36   10      0
37   29      0
38   59      0
39   16      0
40   22      0
41   18      0
42   23      0
43   18      0
44    1      0
45    7      0
46    1      0
47   18      0
48    6      0
49   10      0
50    8      0
51    1      0

In [7]:
# Los commits de la penúltima semana se encuentran en:

dfCommits['all'][50]

8