#### 1. Import pandas library

In [29]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [30]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [31]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [32]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [33]:
users = users.rename(columns={'Id':'userId'})

#### 6. Import the posts table.

In [34]:
posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [48]:
posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [45]:
posts = posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [51]:
posts.columns

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [53]:
cols_users = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']

new_users = users[cols_users]

cols_posts = ['postId', 'Score', 'userId','ViewCount', 'CommentCount']

new_posts = posts[cols_posts]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [58]:
merged_df = users.merge(posts)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [56]:
null_cols = merged_df.isnull().sum()
null_cols[null_cols > 0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63780
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Body                       220
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [62]:
# Eliminamos las columnas cuyos valores nulos son superiores a 50.000
drop_cols = list(null_cols[null_cols > 50000].index)
cleaned_df = merged_df.drop(drop_cols, axis=1)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [66]:
cleaned_df.head(1)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,AboutMe,Views,UpVotes,DownVotes,AccountId,...,ViewCount,Body,LasActivityDate,Title,Tags,AnswerCount,CommentCount,LastEditorUserId,LastEditDate,ParentId
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,...,NaN,<p><strong>CrossValidated</strong> is for stat...,2013-01-10 19:43:24,None,None,NaN,0,-1.0,2014-04-23 13:43:43,NaN

In [71]:
cleaned_df.dtypes

'''Para crear categorías por la antigüedad de cada cuenta de usuario y en reputación cambiamos los datos 
de "CreationDate" y "Reputation" '''
cleaned_df['CreationDate'] = cleaned_df['CreationDate'].astype('object')
cleaned_df['CreationDate'].dtype
cleaned_df['Reputation'] = cleaned_df['Reputation'].astype('object')
cleaned_df['Reputation'].dtype

dtype('O')

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [73]:


# Estudiamos en perspectiva nuestro data frame
stats = merged_df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,1.654676e+04,1.527337e+04,-1.0,3437.00,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6.282395e+03,1.510227e+04,1.0,60.00,396.0,4460.00,87393.0,4400.00
Views,90584.0,1.034245e+03,2.880074e+03,0.0,5.00,45.0,514.25,20932.0,509.25
UpVotes,90584.0,7.343157e+02,2.050869e+03,0.0,1.00,22.0,283.00,11442.0,282.00
DownVotes,90584.0,3.327325e+01,1.349364e+02,0.0,0.00,0.0,8.00,1920.0,8.00
AccountId,90584.0,1.459063e+06,1.364242e+06,-1.0,281324.00,1064678.0,2376872.50,5026998.0,2095548.50
Age,26804.0,3.439804e+01,1.361333e+01,13.0,27.00,32.0,41.00,94.0,14.00
postId,90584.0,5.653908e+04,3.384031e+04,1.0,26051.75,57225.5,86145.25,115378.0,60093.50
PostTypeId,90584.0,1.570222e+00,6.128652e-01,1.0,1.00,2.0,2.00,7.0,1.00
AcceptedAnswerId,14563.0,5.245968e+04,3.345493e+04,5.0,22246.50,50136.0,80638.50,115345.0,58392.00
Score,90584.0,2.780767e+00,4.948922e+00,-19.0,1.00,2.0,3.00,192.0,2.00
ViewCount,42188.0,5.566562e+02,2.356931e+03,1.0,53.00,126.0,367.00,175495.0,314.00
AnswerCount,42188.0,1.107424e+00,1.490476e+00,0.0,0.00,1.0,2.00,136.0,2.00
CommentCount,90584.0,1.894650e+00,2.638704e+00,0.0,0.00,1.0,3.00,45.0,3.00
FavoriteCount,12979.0,2.538639e+00,5.938384e+00,0.0,1.00,1.0,2.00,233.0,1.00
LastEditorUserId,44128.0,1.200186e+04,1.341624e+04,-1.0,919.00,7290.0,21980.50,55733.0,21061.50
ParentId,47100.0,4.873097e+04,3.403355e+04,1.0,18029.50,45268.0,77444.00,115375.0,59414.50

In [74]:
# Creamos un Data Frame vacío
outliers = pd.DataFrame(columns=merged_df.columns)

In [78]:
# Enviamos a outliers los records que quedan fuera de los límites establecidos

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

KeyError: 'postId'