In [1]:
# Título del proyecto

'''

Shark adventures: ¿Quieres sentir la adrenalina de nadar con tiburones?

'''

# Objetivo del proyecto

'''
Encontrar la ubicación idónea para aquellas que quieren vivir experiencias extremas
'''

'\nEncontrar la ubicación idónea para aquellas que quieren vivir experiencias extremas\n'

In [2]:
# Realizamos la importaciones que necesitaremos a lo largo del proyecto

import numpy as np
import pandas as pd

In [3]:
# Importamos el archivo csv

dataoriginal = pd.read_csv('GSAF5.csv', encoding = "utf-8")

In [4]:
# Guía de trabajo del proyecto
'''
One of the first things we want to do is examine the data and look for any potential issues. Some of the things we are interested in identifying in the data at this stage include:

    Missing values
    Special characters
    Incorrect values
    Extreme values or outliers
    Duplicate records
    Incorrect data types

'''

'\nOne of the first things we want to do is examine the data and look for any potential issues. Some of the things we are interested in identifying in the data at this stage include:\n\n    Missing values\n    Special characters\n    Incorrect values\n    Extreme values or outliers\n    Duplicate records\n    Incorrect data types\n\n'

In [5]:
# Comenzamos con una perspectiva visual del dataset.

dataoriginal.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [6]:
# Encontramos y eliminamos registros duplicados
'''
The first thing we will do is attempt to drop any duplicate records, considering all the columns 
we currently have in the data set. Pandas provides us with the ability to do that via the 
drop_duplicates method. We will use the len method to calculate the number of rows in the data set 
both before and after removing duplicates and then print the number of rows dropped.
'''
before = len(dataoriginal)
data = dataoriginal.drop_duplicates()
after = len(dataoriginal)
print('Number of duplicate records dropped: ', str(before - after))

# En primera instancia data no presenta registros duplicados.

Number of duplicate records dropped:  0

In [7]:
''' Reducimos data seleccionando solo las columnas interesantes en un nuevo DataFrame: data.
Descartamos: Name, pdf, href formula, href, case number 1, Case numer 2, Unnamed 23, Unnamed 22.
Las columnas descartadas no presentan información pertinente para los objetivos del proyecto.
'''
col_seleccion = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
                 'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ']
data = dataoriginal[col_seleccion]

In [8]:
# Renaming columns

'''
Data will often come either without column names or with column names that are not as intuitive 
as they could be. When this is the case, we want to assign descriptive names to the columns so that 
we remember what the values in each column represent. 
'''

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [9]:
# Cambio de varias columnas.

'''
Cambiamos los nombres de las siguientes columnas:

'Case number':'Case',
'Sex ':'Sex'
'Fatal (Y/N)': 'Fatal'
'Species ': 'Sepecies'

'''


data = data.rename(columns={'Case number':'Case',
                            'Sex ':'Sex',
                            'Fatal (Y/N)': 'Fatal',
                            'Species ' :'Species'})

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species'],
      dtype='object')

In [10]:
# Cambiando el orden de las columnas
'''
Cambiamor el orden de las columnas en función del objetivo del proyecto: localizar
las playas con los tiburones más peligrosos para vender baños de alto riesgo a los 
amantes de la adrenalina
'''

column_order = ['Case Number', 'Fatal', 'Injury', 'Type', 'Activity', 'Sex', 'Age',  'Date', 'Year',  
                'Country', 'Area', 'Location', 'Time', 'Species']

data = data[column_order]
data.columns

Index(['Case Number', 'Fatal', 'Injury', 'Type', 'Activity', 'Sex', 'Age',
       'Date', 'Year', 'Country', 'Area', 'Location', 'Time', 'Species'],
      dtype='object')

In [11]:
data['Country'].value_counts()

USA                           2116
AUSTRALIA                     1279
SOUTH AFRICA                   565
PAPUA NEW GUINEA               133
NEW ZEALAND                    125
BRAZIL                         102
BAHAMAS                         98
MEXICO                          81
ITALY                           71
FIJI                            62
PHILIPPINES                     59
REUNION                         57
NEW CALEDONIA                   51
MOZAMBIQUE                      44
CUBA                            42
SPAIN                           40
INDIA                           37
EGYPT                           36
CROATIA                         34
PANAMA                          32
JAPAN                           32
IRAN                            29
SOLOMON ISLANDS                 29
GREECE                          25
HONG KONG                       24
JAMAICA                         23
FRENCH POLYNESIA                22
INDONESIA                       20
ENGLAND                         19
PACIFIC OCEAN                   17
                              ...
COOK ISLANDS                     1
ICELAND                          1
ANDAMAN / NICOBAR ISLANDAS       1
RED SEA?                         1
JAVA                             1
BRITISH VIRGIN ISLANDS           1
IRAN / IRAQ                      1
BRITISH NEW GUINEA               1
RED SEA / INDIAN OCEAN           1
OCEAN                            1
GABON                            1
St Helena                        1
MARTINIQUE                       1
ARUBA                            1
ADMIRALTY ISLANDS                1
GUYANA                           1
FALKLAND ISLANDS                 1
KUWAIT                           1
TASMAN SEA                       1
BAHREIN                          1
DIEGO GARCIA                     1
Sierra Leone                     1
ANGOLA                           1
CURACAO                          1
MONACO                           1
NORTHERN MARIANA ISLANDS         1
THE BALKANS                      1
 PHILIPPINES                     1
PUERTO RICO                      1
ST. MARTIN                       1
Name: Country, Length: 203, dtype: int64

In [12]:
# Elección y creación de subset objeto de estudio

'''
When working with data, analysts often need to filter the data based on one or more conditional statements. 

We could enter our conditions inside square brackets to subset the data set for just the records that meet 
the conditions we’ve specified.

'''
# Comprobamos qué valores pueden contener las columnas 'Year' y 'Cuntry'

data['Year'].unique() 
data['Country'].unique() 

# Comprobamos en qué años y países se dan más ataque
data['Country'].value_counts()
data['Year'].value_counts()

# Realizamos el filtrado
'''Seleccionamos los casos de los últimos 30 años, para tomar decisiones a partir de información actualizada, 
y los países con mayor concentración de casos, es decir, más de 360'''

filtered = data[(data['Year']>= 1998) & 
                ((data['Country'] == 'USA') | (data['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA'))]

filtered.head()

,Case Number,Fatal,Injury,Type,Activity,Sex,Age,Date,Year,Country,Area,Location,Time,Species
0,2016.09.18.c,N,Minor injury to thigh,Unprovoked,Surfing,M,16,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",13h00,NaN
1,2016.09.18.b,N,Lacerations to hands,Unprovoked,Surfing,M,36,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",11h00,NaN
2,2016.09.18.a,N,Lacerations to lower leg,Unprovoked,Surfing,M,43,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",10h43,NaN
3,2016.09.17,N,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,NaN,NaN
4,2016.09.15,N,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,NaN,2 m shark

In [13]:
filtered.Type.value_counts()

Unprovoked      1214
Invalid          104
Provoked         102
Boat              59
Sea Disaster       2
Name: Type, dtype: int64

In [14]:
''' Nos interesa conocer las causas del ataques: humanas o naturales.
Para ello creamos una columna 'Cause' categorías significativas: natural, artificial o unknown'''

'''
Another way to create intuitive additional categories in your data is to create columns based on 
conditional statements. Earlier in this lesson, we filtered our data based on conditional statements. 
Here, we will populate the values in a column based on them using the loc method.

Our vehicles data set currently has 45 different values in the Transmission field, but one of 
the key pieces of information embedded in there is whether a vehicle has an automatic or
manual transmission. It would be valuable to extract that so that we could group vehicles by 
their transmission type. Let’s look at how we can create a new TransType column that only contains 
one of two values for each vehicle: Automatic or Manual.
'''
filtered.loc[filtered['Type'].str.startswith('U'), 'Cause'] = 'Natural'
filtered.loc[filtered['Type'].str.startswith('P'), 'Cause'] = 'Artificial'
filtered.loc[filtered['Type'].str.startswith('I'), 'Cause'] = 'Unknown'
filtered.loc[filtered['Type'].str.startswith('B'), 'Cause'] = 'Unknown'
filtered.loc[filtered['Type'].str.startswith('S'), 'Cause'] = 'Unknown'
filtered.head()

/home/hector/.local/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/hector/.local/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Case Number,Fatal,Injury,Type,Activity,Sex,Age,Date,Year,Country,Area,Location,Time,Species,Cause
0,2016.09.18.c,N,Minor injury to thigh,Unprovoked,Surfing,M,16,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",13h00,NaN,Natural
1,2016.09.18.b,N,Lacerations to hands,Unprovoked,Surfing,M,36,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",11h00,NaN,Natural
2,2016.09.18.a,N,Lacerations to lower leg,Unprovoked,Surfing,M,43,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",10h43,NaN,Natural
3,2016.09.17,N,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,NaN,NaN,Natural
4,2016.09.15,N,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,NaN,2 m shark,Natural

In [15]:
# Analizammos el peso de los valores nulos en nuesttros datos
'''
Missing Values

From this initial view, we can see that our data set contains some columns that have missing values 
in them and others that seem to have a lot of zero values. Let’s see how prevalent missing values are 
in our data. We can use the Pandas isnull method to check whether the value in each field is missing (null) 
and return either True or False for each field. We can use the sum method to total up the number of 
True values by column, and then we can add a condition using square brackets that will filter the data 
and show us only columns where the number of null values were greater than zero.
'''
null_cols = filtered.isnull().sum()
null_cols[null_cols > 0]

Fatal         1
Injury        1
Activity     58
Sex          62
Age         320
Area          5
Location     12
Time        328
Species     497
dtype: int64

In [16]:
# Por la preponderancia de su valores nulos y la escasa aportación al estudio eliminamos la columna 'Species'
'''
We can see that some columns have relatively few null values while others have tens of thousands of nulls. 
For fields that have a lot of null values, you will often have to make a judgement call. If you don’t 
think the information is going to be very useful to your analysis, then you would remove those columns 
from your data frame.
'''
drop_cols = list(null_cols[null_cols > 400].index)
filtered = filtered.drop(drop_cols, axis=1)

In [30]:
# 'Fatal' e 'Injury' tienen un valor nulo, veamos qué ha ocurrido.

'''
Of the columns that remain, it looks like the cylinders column and the displ column have a similar 
number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting 
the data set and looking at just the records where displ is null and just the columns we think will 
be informative in allowing us to determine a reason.
'''

null_displ = filtered[(filtered['Fatal'].isnull()==True)]
null_displ = null_displ[['Injury', 'Activity', 'Sex', 'Age', 'Area','Location','Time']]
null_displ['Injury']

# Observamos que dicho valor de fatal debería ser 'N', lo cambiamos.

filtered[(filtered['Fatal'].isnull()==True)] = 'N'

In [27]:
null_displ = filtered[(filtered['Injury'].isnull()==True)]
null_displ = null_displ[['Injury', 'Fatal', 'Activity', 'Sex', 'Age', 'Area','Location','Time']]
null_displ

# Por sus registros dicho record debe ser eliminado
filtered = filtered.drop(filtered[(filtered['Injury'].isnull()==True)].index)

In [36]:
''' El resto de valores nulos los sustituimos por ceros, 
excepto en Age y Time que sustituimos por -1 para evitar errores de interpretación.'''

filtered[['Activity', 'Sex', 'Area', 'Location']].fillna(0)
filtered[['Age', 'Time']].fillna(-1)

      Age                    Time
0      16                   13h00
1      36                   11h00
2      43                   10h43
3      -1                      -1
4      -1                      -1
5      -1                      -1
6     60s                   15h15
7      51                   14h30
9      12          Late afternoon
10     -1          Late afternoon
11      9                      -1
12     22                      -1
13     25                   15h00
14     37                   14h00
16     49                   16h00
18     21                      -1
19     22                      -1
22     -1                      -1
23     43                      -1
24     18                   12h00
26     36                      -1
28     31              After noon
29     -1                      -1
30      9                    1300
31     11                   11h00
32     -1                      -1
35     -1                      -1
36     59                   10h00
37     -1                      -1
38     42           14h30 / 15h30
...   ...                     ...
1947   11                      -1
1948   -1                      -1
1949   19                      -1
1950   24                   13h00
1952   13                    P.M.
1953   47                      -1
1954   16                 Morning
1955   10                      -1
1956   26                   14h00
1957   20                   09h55
1958   18                   18h00
1959   -1                      -1
1960   17                      -1
1961   15  2 hours after Opperman
1962   16         Early afternoon
1963   40                   11h10
1964   14                   14h30
1965   24                   15h00
1966   22                   14h45
1968   50                  09h30
1969   16                      -1
1972   40                   15h30
1973   33                   17h30
1974   32                 Morning
1975   -1                   09h35
1976   31                   20h00
1979   21                      -1
1980   -1               Afternoon
1982   28                      -1
1984   -1                      -1

[1480 rows x 2 columns]

In [41]:
filtered.Fatal.value_counts()

N          1373
Y           106
UNKNOWN       1
Name: Fatal, dtype: int64

In [43]:
# Evitamos valores incorrectos, estableciendo que en accidentes fatales, Injury marque High

filtered.loc[(filtered['Fatal']== 'Y') & (filtered['Injury']!= 'No injury'), 'Injury'] = 'High'

In [79]:
# Comprobamos que no hay columnas con low variance

low_variance = []

for col in filtered._get_numeric_data():
    minimum = min(filtered[col])
    ninety_perc = np.percentile(filtered[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
low_variance

[]

In [78]:
'''
Next, we must determine how we want our data to be binned. There are three main approaches that we can choose from:

    Equal width bins: the range for each bin is the same size.
    Equal frequency bins: approximately the same number of records in each bin.
    Custom-sized bins: the user explicitly defines where they want the cutoff for each bin to be.

If you want equal width bins, you can use the cut method 

'''

bins = pd.cut(data['Combined MPG'],5, labels=mpg_labels)
bins.head(10)

# Equal frequency bins

bins = pd.qcut(data['Combined MPG'],5, labels=mpg_labels)
bins.head(10)

'''
Note the difference in results. With equal width binning, there will be some bins that contain more 
records than others (such as the Low bin). With equal frequency binning, some of those records will 
be forced into other bins (e.g. the Moderate bin and even the High bin). This is an important consideration 
when determining how you want to categorize your data.
'''

ValueError: Cannot cut empty array

In [ ]:
'''
Finally, if you want custom bin sizes, you can pass a list of bin range values to the cut method instead of the number of bins, and it will bin the values for you accordingly.
'''

cutoffs = [7,14,21,23,30,40]
bins = pd.cut(data['Combined MPG'],cutoffs, labels=mpg_labels)
bins.head(10)

In [72]:
#Data type correction
'''
This typically occurs when there is a numeric variable that should actually be represented as 
a categorical variable. 
'''
filtered.dtypes

Case Number    object
Fatal          object
Injury         object
Type           object
Activity       object
Sex            object
Age            object
Date           object
Year           object
Country        object
Area           object
Location       object
Time           object
Cause          object
dtype: object

In [73]:
'''
Pandas currently has the year column stored as integers, but what if we wanted the year to be stored 
as a categorical variable (object) instead? 
'''
filtered['Year'] = filtered['Year'].astype('int')
data['year'].dtype

ValueError: invalid literal for int() with base 10: 'N'

In [92]:
filtered['Age'] = filtered['Age'].fillna('-1')
filtered['Age'] = filtered['Age'].str.replace('\xa0 ', '-1')
filtered['Age'] = filtered['Age'].str.replace('Teens', '14')
filtered['Age'] = filtered['Age'].str.replace('36 & 26', '30')
filtered['Age'] = filtered['Age'].str.replace('50s', '55')
filtered['Age'] = filtered['Age'].str.replace('40s', '45')
filtered['Age'] = filtered['Age'].str.replace('50s', '55')
filtered['Age'] = filtered['Age'].str.replace('30s', '35')
filtered['Age'] = filtered['Age'].str.replace('60s', '65')
filtered['Age'] = filtered['Age'].str.replace('mid-30s', '35')
filtered['Age'] = filtered['Age'].str.replace('8 or 10', '9')
filtered['Age'] = filtered['Age'].str.replace('6œ', '-1')
filtered['Age'] = filtered['Age'].str.replace('20s', '25')
filtered['Age'] = filtered['Age'].str.replace('12 or 13', '12')
filtered['Age'] = filtered['Age'].str.replace('33 or 37', '35')
filtered['Age'] = filtered['Age'].str.replace('30 or 36', '33')
filtered['Age'] = filtered['Age'].str.replace('teen', '14')
filtered['Age'] = filtered['Age'].str.replace('Teen', '14')
filtered['Age'] = filtered['Age'].str.replace('23 & 20', '21')
filtered['Age'] = filtered['Age'].str.replace('N', '-1')
print(set(filtered['Age']))

{'8', '62', '39', '50', '30', '58', '15', '48', '32', '5', '25', '24', '-14', '75', '43', '59', '36', '37', '21', '3', '11', '34', '26', '86', '14', '10', '9', '44', '40', '31', '19', '68', '33', '38', '64', '20', '53', '-1', '56', '77', '55', '63', '49', '16', '46', '51', '29', '23', '47', '35', '66', '41', '74', '13', '52', '28', '70', '22', '54', '65', '61', '84', '69', '71', '45', '6', '17', '12', '57', '7', '60', '73', '42', '18', '27'}

In [ ]:
'''
So let’s remove all hyphens from this column with the help of the str.replace method and then print unique 
values again to ensure they were removed.

'''
data['trany'] = data['trany'].str.replace('-', '')
print(set(data['trany']))

In [ ]:
'''
You will also notice that in some cases Automatic is abbreviated to Auto and in other cases it is spelled out.
We can make that more consistent by using the same technique. While we are at it, let’s also attempt 
to remove parentheses and make spacing more consistent.
'''
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')

In [ ]:
'''

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.

'''
print(set(data['trany']))

In [ ]:
# Segunda búsqueda y eliminación de registros duplicados
'''
The first thing we will do is attempt to drop any duplicate records, considering all the columns 
we currently have in the data set. Pandas provides us with the ability to do that via the 
drop_duplicates method. We will use the len method to calculate the number of rows in the data set 
both before and after removing duplicates and then print the number of rows dropped.
'''
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

In [ ]:
# Total price of all houses sold
house_df['SalePrice'].sum()

1901400

# Average lot size of houses sold
house_df['LotSize'].mean()

10123.1

# The latest year a house in the data set was built
house_df['YearBuilt'].max()

2004

# The eariliest year a house in the data set was built
house_df['YearBuilt'].min()

In [ ]:
# Combinación de subsets: merge

'''
Another useful thing to do with data sets is to combine them. Pandas provides us with a few different 
ways to do this. The first way is by merging. Merging is similar to creating a join in SQL, 
where you can specify common fields between the two tables and then include information from both 
in your query. Pandas has a merge method that functions in a similar way.

To illustrate, let’s create a data frame that has the average Combined MPG for each Make using the 
groupby method. We will merge that average into our data frame, joining on Make, so that we can see 
how fuel efficient a vehicle is in comparison to the other vehicles made by the same manufacturer.

'''

avg_mpg = data.groupby('Make', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg.columns = ['Make', 'Avg_MPG']

data = pd.merge(data, avg_mpg, on='Make')
data.head(10)

In [ ]:
# Combinación de subsets: concat

'''
The pandas concat method lets you attach columns or rows from one data set onto another data set as 
long as both data sets have the same number of rows (if you are concatenating columns) or columns 
(if you are concatenating rows). Let’s take a look at examples for each of these.

For column concatenation, we can use the one-hot encoded drivetrain data frame we created earlier 
and add those columns to our vehicles data set. Note that the data frames passed to the concat 
method must be in a list and you set the axis parameter to 1 in order to indicate that you are 
concatenating columns.
'''
data = pd.concat([data, drivetrain], axis=1)
'''
To illustrate row concatenation, let’s create two new data frames based on conditional filters 
from our original data frame - one containing only Lexus vehicles and another containing only Audi vehicles. 
We will then combine them using the concat method into a lexus_audi data frame that contains only vehicles 
manufactured by those two companies.
'''
lexus = data[data['Make']=='Lexus']
audi = data[data['Make']=='Audi']

lexus_audi = pd.concat([lexus, audi], axis=0)
'''
Again, note that the data frames are passed as a list and that this time the axis is set to 0 to specify that we are concatenating rows.
'''

In [ ]:
# Combinación de subset: agrupando por variable

'''
Our vehicles data set currently has a wide format, where there is a column for each attribute. 
However, some analytic and visualization tasks will require that the data be in a long format, 
where there are a few variables that define the entities and then all other attribute information 
is condensed into two columns: one containing the column/attribute names and another containing the value 
for that attribute for each entity. Pandas makes it easy to format data this way with the melt function. 
For example, suppose we were going to perform some analysis or visualization task where we needed the Year, 
Make, and Model to identify the vehicles and then we also needed the City MPG, Highway MPG, and Combined MPG 
fields for performing various calculations. Below is how we would melt the data into the proper format.

'''

melted = pd.melt(data, id_vars=['Year','Make','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted.head(10)

'''
As you can see, the column names have been stacked into the the variable field and their 
corresponding values have been stacked into the value field.
'''

In [ ]:
# Exporting DataFrame

# Export comma-separated variable file
data = pd.to_csv('vehicles/vehicles.csv', index=False)