In [1]:
# Título del proyecto

'''

Shark adventures: ¿Quieres sentir la adrenalina de nadar con tiburones?

'''

# Objetivo del proyecto

'''
La empresa Extreme quiere lanzar una nueva actividad: experiencias de riesgo con tiburones y pretende:
-Definir el target: edad y sexo.
-Limitar la región para el lanzamiento del producto.
-Localizar un parámetro que conlleve el ataque de tiburones.
'''

'\nLa empresa Extreme quiere lanzar una nueva actividad: experiencias de riesgo con tiburones y pretende:\n-Definir el target: edad y sexo.\n-Limitar la región para el lanzamiento del producto.\n-Localizar un parámetro que conlleve el ataque de tiburones.\n'

In [2]:
# Realizamos la importaciones que necesitaremos a lo largo del proyecto

import numpy as np
import pandas as pd

In [3]:
# Importamos el archivo csv

dataoriginal = pd.read_csv('GSAF5.csv', encoding = "utf-8")

In [4]:
# Guía de trabajo del proyecto
'''
El presente archivo implementa las siguientes técnicas:
* Eliminación de **registros duplicados** 
* **Examen** de los datos y **comprensión** de sus campos.
* **Selección** de la información relevante y eliminación de la no pertinente mediante la reducción de columnas presentes de en el data frame.
* **Cambio de nombre de columnas** por nombres más informativo y que conlleven menos problemas a la hora de trabajar la información.
* **Cambio de nombre de columnas** en función de los objetivos del proyecto.
* Elección y creación de **subset objeto de estudio**.
* Análisis del peso de los **valores nulos** en nuestros datos y actuaciones en función de las conclusiones: eliminación de columnas y sustitución de los mismos.
* Corrección de **valores incorrectos**.
* Prevención de presencia de columnas con **low variance**
* Modificaciones de **strings**.
* Corrección de **data types**
* Realización de **Custom-sized bins**
* Obtención de conclusiones tras el estudio a través de funciones.
* Combinación de subsets: **merge** y **melt**
* Exportación de los datos a **.csv**.


'''

'\nEl presente archivo implementa las siguientes técnicas:\n* Eliminación de **registros duplicados** \n* **Examen** de los datos y **comprensión** de sus campos.\n* **Selección** de la información relevante y eliminación de la no pertinente mediante la reducción de columnas presentes de en el data frame.\n* **Cambio de nombre de columnas** por nombres más informativo y que conlleven menos problemas a la hora de trabajar la información.\n* **Cambio de nombre de columnas** en función de los objetivos del proyecto.\n* Elección y creación de **subset objeto de estudio**.\n* Análisis del peso de los **valores nulos** en nuestros datos y actuaciones en función de las conclusiones: eliminación de columnas y sustitución de los mismos.\n* Corrección de **valores incorrectos**.\n* Prevención de presencia de columnas con **low variance**\n* Modificaciones de **strings**.\n* Corrección de **data types**\n* Realización de **Custom-sized bins**\n* Obtención de conclusiones tras el estudio a través de funciones.\n* Combinación de subsets: **merge** y **melt**\n* Exportación de los datos a **.csv**.\n\n\n'

In [5]:
# Comenzamos con una perspectiva visual del dataset.

dataoriginal.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [6]:
# Encontramos y eliminamos registros duplicados

before = len(dataoriginal)
data = dataoriginal.drop_duplicates()
after = len(dataoriginal)
print('Number of duplicate records dropped: ', str(before - after))

# En primera instancia data no presenta registros duplicados.

Number of duplicate records dropped:  0

In [7]:
# Selección de columnas
''' Reducimos data seleccionando solo las columnas interesantes en un nuevo DataFrame: data.
Descartamos: Name, pdf, href formula, href, case number 1, Case numer 2, Unnamed 23, Unnamed 22.
Las columnas descartadas no presentan información pertinente para los objetivos del proyecto.
'''
col_seleccion = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
                 'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ']
data = dataoriginal[col_seleccion]

In [8]:
# Cambio de nombre de columnas.

'''
Modificacción por títulos más informativos y menos conflictivos 
a la hora de trabajar con la información.
'''

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [9]:
'''
Cambiamos los nombres de las siguientes columnas:

'Case number':'Case',
'Sex ':'Sex'
'Fatal (Y/N)': 'Fatal'
'Species ': 'Sepecies'

'''


data = data.rename(columns={'Case number':'Case',
                            'Sex ':'Sex',
                            'Fatal (Y/N)': 'Fatal',
                            'Species ' :'Species'})

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species'],
      dtype='object')

In [10]:
# Cambiando el orden de las columnas
'''
Cambiamos el orden de las columnas en función del objetivo del proyecto: localizar
las playas con los tiburones más peligrosos para vender baños de alto riesgo a los 
amantes de la adrenalina.
'''

column_order = ['Case Number', 'Fatal', 'Injury', 'Type', 'Activity', 'Sex', 'Age',  'Date', 'Year',  
                'Country', 'Area', 'Location', 'Time', 'Species']

data = data[column_order]
data.columns

Index(['Case Number', 'Fatal', 'Injury', 'Type', 'Activity', 'Sex', 'Age',
       'Date', 'Year', 'Country', 'Area', 'Location', 'Time', 'Species'],
      dtype='object')

In [11]:
data['Country'].value_counts()

USA                           2116
AUSTRALIA                     1279
SOUTH AFRICA                   565
PAPUA NEW GUINEA               133
NEW ZEALAND                    125
BRAZIL                         102
BAHAMAS                         98
MEXICO                          81
ITALY                           71
FIJI                            62
PHILIPPINES                     59
REUNION                         57
NEW CALEDONIA                   51
MOZAMBIQUE                      44
CUBA                            42
SPAIN                           40
INDIA                           37
EGYPT                           36
CROATIA                         34
PANAMA                          32
JAPAN                           32
IRAN                            29
SOLOMON ISLANDS                 29
GREECE                          25
HONG KONG                       24
JAMAICA                         23
FRENCH POLYNESIA                22
INDONESIA                       20
ENGLAND                         19
PACIFIC OCEAN                   17
                              ...
Coast of AFRICA                  1
GABON                            1
Seychelles                       1
ANGOLA                           1
Between PORTUGAL & INDIA         1
SUDAN?                           1
MARTINIQUE                       1
JAVA                             1
BAY OF BENGAL                    1
SWEDEN                           1
NORTHERN MARIANA ISLANDS         1
MEXICO                           1
PUERTO RICO                      1
FALKLAND ISLANDS                 1
ARGENTINA                        1
SOUTH CHINA SEA                  1
ITALY / CROATIA                  1
SYRIA                            1
ST. MAARTIN                      1
RED SEA                          1
RED SEA?                         1
MEDITERRANEAN SEA?               1
ICELAND                          1
CEYLON (SRI LANKA)               1
ANDAMAN / NICOBAR ISLANDAS       1
GRAND CAYMAN                     1
OCEAN                            1
NORTH ATLANTIC OCEAN             1
RED SEA / INDIAN OCEAN           1
ADMIRALTY ISLANDS                1
Name: Country, Length: 203, dtype: int64

In [12]:
# Elección y creación de subset objeto de estudio

# Comprobamos qué valores pueden contener las columnas 'Year' y 'Cuntry'

data['Year'].unique() 
data['Country'].unique() 

# Comprobamos en qué años y países se dan más ataque
data['Country'].value_counts()
data['Year'].value_counts()

# Realizamos el filtrado
'''Seleccionamos los casos de los últimos 30 años, para tomar decisiones a partir de información actualizada, 
y los países con mayor concentración de casos, es decir, más de 360'''

filtered = data[(data['Year']>= 1998) & 
                ((data['Country'] == 'USA') | (data['Country'] == 'AUSTRALIA') | (data['Country'] == 'SOUTH AFRICA'))]

filtered.head()

,Case Number,Fatal,Injury,Type,Activity,Sex,Age,Date,Year,Country,Area,Location,Time,Species
0,2016.09.18.c,N,Minor injury to thigh,Unprovoked,Surfing,M,16,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",13h00,NaN
1,2016.09.18.b,N,Lacerations to hands,Unprovoked,Surfing,M,36,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",11h00,NaN
2,2016.09.18.a,N,Lacerations to lower leg,Unprovoked,Surfing,M,43,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",10h43,NaN
3,2016.09.17,N,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,NaN,NaN
4,2016.09.15,N,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,NaN,2 m shark

In [13]:
filtered.Type.value_counts()

Unprovoked      1214
Invalid          104
Provoked         102
Boat              59
Sea Disaster       2
Name: Type, dtype: int64

In [14]:
''' Nos interesa conocer las causas del ataques: humanas o naturales.
Para ello creamos una columna 'Cause' categorías significativas: natural, artificial o unknown'''

filtered.loc[filtered['Type'].str.startswith('U'), 'Cause'] = 'Natural'
filtered.loc[filtered['Type'].str.startswith('P'), 'Cause'] = 'Artificial'
filtered.loc[filtered['Type'].str.startswith('I'), 'Cause'] = 'Unknown'
filtered.loc[filtered['Type'].str.startswith('B'), 'Cause'] = 'Unknown'
filtered.loc[filtered['Type'].str.startswith('S'), 'Cause'] = 'Unknown'
filtered.head()

/home/hector/.local/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/hector/.local/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Case Number,Fatal,Injury,Type,Activity,Sex,Age,Date,Year,Country,Area,Location,Time,Species,Cause
0,2016.09.18.c,N,Minor injury to thigh,Unprovoked,Surfing,M,16,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",13h00,NaN,Natural
1,2016.09.18.b,N,Lacerations to hands,Unprovoked,Surfing,M,36,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",11h00,NaN,Natural
2,2016.09.18.a,N,Lacerations to lower leg,Unprovoked,Surfing,M,43,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",10h43,NaN,Natural
3,2016.09.17,N,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,NaN,NaN,Natural
4,2016.09.15,N,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,NaN,2 m shark,Natural

In [15]:
# Analizammos el peso de los valores nulos en nuestros datos

null_cols = filtered.isnull().sum()
null_cols[null_cols > 0]

Fatal         1
Injury        1
Activity     58
Sex          62
Age         320
Area          5
Location     12
Time        328
Species     497
dtype: int64

In [16]:
# Por la preponderancia de su valores nulos y la escasa aportación al estudio eliminamos la columna 'Species'

drop_cols = list(null_cols[null_cols > 400].index)
filtered = filtered.drop(drop_cols, axis=1)

In [17]:
# 'Fatal' e 'Injury' tienen un valor nulo, veamos qué ha ocurrido.

null_displ = filtered[(filtered['Fatal'].isnull()==True)]
null_displ = null_displ[['Injury', 'Activity', 'Sex', 'Age', 'Area','Location','Time']]
null_displ['Injury']

# Observamos que dicho valor de fatal debería ser 'N', lo cambiamos.

filtered[(filtered['Fatal'].isnull()==True)] = 'N'

In [18]:
null_displ = filtered[(filtered['Injury'].isnull()==True)]
null_displ = null_displ[['Injury', 'Fatal', 'Activity', 'Sex', 'Age', 'Area','Location','Time']]
null_displ

# Por sus registros dicho record debe ser eliminado
filtered = filtered.drop(filtered[(filtered['Injury'].isnull()==True)].index)

In [19]:
''' El resto de valores nulos los sustituimos por ceros, 
excepto en Age y Time que sustituimos por -1 para evitar errores de interpretación.'''

filtered[['Activity', 'Sex', 'Area', 'Location']].fillna(0)
filtered[['Age', 'Time']].fillna(-1)

      Age                    Time
0      16                   13h00
1      36                   11h00
2      43                   10h43
3      -1                      -1
4      -1                      -1
5      -1                      -1
6     60s                   15h15
7      51                   14h30
9      12          Late afternoon
10     -1          Late afternoon
11      9                      -1
12     22                      -1
13     25                   15h00
14     37                   14h00
16     49                   16h00
18     21                      -1
19     22                      -1
22     -1                      -1
23     43                      -1
24     18                   12h00
26     36                      -1
28     31              After noon
29     -1                      -1
30      9                    1300
31     11                   11h00
32     -1                      -1
35     -1                      -1
36     59                   10h00
37     -1                      -1
38     42           14h30 / 15h30
...   ...                     ...
1947   11                      -1
1948   -1                      -1
1949   19                      -1
1950   24                   13h00
1952   13                    P.M.
1953   47                      -1
1954   16                 Morning
1955   10                      -1
1956   26                   14h00
1957   20                   09h55
1958   18                   18h00
1959   -1                      -1
1960   17                      -1
1961   15  2 hours after Opperman
1962   16         Early afternoon
1963   40                   11h10
1964   14                   14h30
1965   24                   15h00
1966   22                   14h45
1968   50                  09h30
1969   16                      -1
1972   40                   15h30
1973   33                   17h30
1974   32                 Morning
1975   -1                   09h35
1976   31                   20h00
1979   21                      -1
1980   -1               Afternoon
1982   28                      -1
1984   -1                      -1

[1480 rows x 2 columns]

In [20]:
filtered.Fatal.value_counts()

N          1373
Y           106
UNKNOWN       1
Name: Fatal, dtype: int64

In [21]:
# Evitamos valores incorrectos, estableciendo que en accidentes fatales, Injury marque High

filtered.loc[(filtered['Fatal']== 'Y') & (filtered['Injury']!= 'No injury'), 'Injury'] = 'High'

In [22]:
# Comprobamos que no hay columnas con low variance

low_variance = []

for col in filtered._get_numeric_data():
    minimum = min(filtered[col])
    ninety_perc = np.percentile(filtered[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
low_variance

[]

In [23]:
#Moficación de strings para poder realiza astype()
'''Primero preparamos los datos para poder usar .astype()'''

filtered['Age'] = filtered['Age'].fillna('-1')
filtered['Age'] = filtered['Age'].str.replace('\xa0 ', '-1')
filtered['Age'] = filtered['Age'].str.replace('Teens', '14')
filtered['Age'] = filtered['Age'].str.replace('36 & 26', '30')
filtered['Age'] = filtered['Age'].str.replace('50s', '55')
filtered['Age'] = filtered['Age'].str.replace('40s', '45')
filtered['Age'] = filtered['Age'].str.replace('50s', '55')
filtered['Age'] = filtered['Age'].str.replace('30s', '35')
filtered['Age'] = filtered['Age'].str.replace('60s', '65')
filtered['Age'] = filtered['Age'].str.replace('mid-30s', '35')
filtered['Age'] = filtered['Age'].str.replace('8 or 10', '9')
filtered['Age'] = filtered['Age'].str.replace('6œ', '-1')
filtered['Age'] = filtered['Age'].str.replace('20s', '25')
filtered['Age'] = filtered['Age'].str.replace('12 or 13', '12')
filtered['Age'] = filtered['Age'].str.replace('33 or 37', '35')
filtered['Age'] = filtered['Age'].str.replace('30 or 36', '33')
filtered['Age'] = filtered['Age'].str.replace('teen', '14')
filtered['Age'] = filtered['Age'].str.replace('Teen', '14')
filtered['Age'] = filtered['Age'].str.replace('23 & 20', '21')
filtered['Age'] = filtered['Age'].str.replace('N', '-1')
filtered['Age'] = filtered['Age'].str.replace('mid-35', '35')
print(set(filtered['Age']))

{'19', '59', '38', '14', '30', '34', '40', '47', '41', '68', '54', '5', '39', '86', '53', '25', '61', '37', '69', '64', '7', '46', '17', '65', '-1', '29', '21', '11', '36', '77', '22', '52', '31', '9', '18', '45', '60', '32', '12', '33', '3', '16', '10', '44', '42', '58', '73', '15', '57', '63', '62', '27', '49', '75', '43', '74', '20', '70', '51', '13', '35', '66', '71', '56', '8', '24', '23', '84', '48', '50', '55', '26', '6', '28'}

In [24]:
#Data type correction de Age para poder hacer bins
'''Aplicamos .astype()'''

filtered['Age'] = filtered['Age'].astype('int')
filtered.dtypes

Case Number    object
Fatal          object
Injury         object
Type           object
Activity       object
Sex            object
Age             int64
Date           object
Year           object
Country        object
Area           object
Location       object
Time           object
Cause          object
dtype: object

In [25]:
# Realizamos un Custom-sized bins para 'Age'


mpg_labels = ['Unknown','Young','Adult','Old']
cutoffs = [-10,-1,20,60,90]
bins = pd.cut(filtered['Age'],cutoffs, labels=mpg_labels)
bins.head(10)

0       Young
1       Adult
2       Adult
3     Unknown
4     Unknown
5     Unknown
6         Old
7       Adult
9       Young
10    Unknown
Name: Age, dtype: category
Categories (4, object): [Unknown < Young < Adult < Old]

In [26]:
filtered.head()

,Case Number,Fatal,Injury,Type,Activity,Sex,Age,Date,Year,Country,Area,Location,Time,Cause
0,2016.09.18.c,N,Minor injury to thigh,Unprovoked,Surfing,M,16,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",13h00,Natural
1,2016.09.18.b,N,Lacerations to hands,Unprovoked,Surfing,M,36,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",11h00,Natural
2,2016.09.18.a,N,Lacerations to lower leg,Unprovoked,Surfing,M,43,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",10h43,Natural
3,2016.09.17,N,Struck by fin on chest & leg,Unprovoked,Surfing,M,-1,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,NaN,Natural
4,2016.09.15,N,No injury: Knocked off board by shark,Unprovoked,Surfing,M,-1,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,NaN,Natural

In [27]:
# Conclusiones:

filtered['Country'].value_counts()
"""
En los últimos 30 años USA es el país con mayor número de casos:
USA             986
AUSTRALIA       345
SOUTH AFRICA    148
"""
filtered[(filtered['Country']== 'USA')].Area.value_counts()

"""
La experiencia piloto de nuestros baños extremos las realizaremos en Florida y Hawai, pues son las áreas
que mayor número de casos acumula:
Florida              538
Hawaii               122
"""

(filtered['Sex']== 'M').sum()
(filtered['Sex']== 'F').sum()
'''
1174 ataques a hombres frente 240 a mujeres.
Debemos dirigir nuestro producto a hombres.
'''
filtered['Age'].mean()
bins.value_counts().max()
'''La edad media de los atacados 22.39 unido  unido a a que la categoría de edad  con 
mayor concentración de ataque es old, nos hace dirigir el producto al intervalo de 
edades comprendido entre los 20 y los 60 años'''
filtered['Activity'].value_counts()

'''Además la actividad en concreto que debemos fomentar es el surf frent al simple nado.
El surf es la actividad que mayor número de ataques aglutina. A mucha distancia de la segunda, el nado:
Surfing                                        532
Swimming                                       182
'''

'Además la actividad en concreto que debemos fomentar es el surf frent al simple nado.\nEl surf es la actividad que mayor número de ataques aglutina. A mucha distancia de la segunda, el nado:\nSurfing                                        532\nSwimming                                       182\n'

In [29]:
# Combinación de subsets: merge
'''
Contrastamos país y edad media para comprobar nuestra conclusiones
'''
avg_age = filtered.groupby('Country', as_index=False).agg({'Age':'mean'})
avg_age.columns = ['Country', 'Age']

merged = pd.merge(filtered, avg_age, on='Country')

In [30]:
# Combinación de subset: agrupando por variable

'''
Para visualizar nuestras conclusiones obtenemos un data frame con los ataques producidos en américa

y le realizamos un .merge() con las columnas de interés.
'''
df_usa = filtered[(filtered['Country']== 'USA')]
melted = pd.melt(df_usa, id_vars=['Country','Area','Time'], 
                 value_vars=['Sex','Date','Activity'])
melted.head(10)

  Country            Area            Time variable value
0     USA         Florida           13h00      Sex     M
1     USA         Florida           11h00      Sex     M
2     USA         Florida           10h43      Sex     M
3     USA         Florida           15h15      Sex     M
4     USA          Hawaii           14h30      Sex     F
5     USA  South Carolina  Late afternoon      Sex     F
6     USA         Florida             NaN      Sex     M
7     USA      California             NaN      Sex     M
8     USA         Florida           15h00      Sex     M
9     USA         Florida           14h00      Sex     M

In [31]:
# Exporting DataFrame

# Export comma-separated variable file
export = filtered.to_csv('filtered.csv', index=False)