In [60]:
# Import the libraries:

import numpy as np
import pandas as pd
%matplotlib inline
import seaborn as sns

In [61]:
columns = ['activity_' +  str(i) for i in range(1, 65)]
columns.append('gesture')

In [62]:
gesture_0 = pd.read_csv('./data/0.csv', names = columns)
gesture_1 = pd.read_csv('./data/1.csv', names = columns)
gesture_2 = pd.read_csv('./data/2.csv', names = columns)
gesture_3 = pd.read_csv('./data/3.csv', names = columns)

In [63]:
display(gesture_0.shape)
display(gesture_1.shape)
display(gesture_2.shape)
display(gesture_3.shape)

(2910, 65)

(2903, 65)

(2943, 65)

(2922, 65)

In [64]:
display(gesture_0.head())
display(gesture_1.head())
display(gesture_2.head())
display(gesture_3.head())

,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,activity_9,activity_10,...,activity_56,activity_57,activity_58,activity_59,activity_60,activity_61,activity_62,activity_63,activity_64,gesture
0,26.0,4.0,5.0,8.0,-1.0,-13.0,-109.0,-66.0,-9.0,2.0,...,-28.0,61.0,4.0,8.0,5.0,4.0,-7.0,-59.0,16.0,0
1,-47.0,-6.0,-5.0,-7.0,13.0,-1.0,35.0,-10.0,10.0,-4.0,...,-25.0,47.0,6.0,6.0,5.0,13.0,21.0,111.0,15.0,0
2,-19.0,-8.0,-8.0,-8.0,-21.0,-6.0,-79.0,12.0,0.0,5.0,...,-83.0,7.0,7.0,1.0,-8.0,7.0,21.0,114.0,48.0,0
3,2.0,3.0,0.0,2.0,0.0,22.0,106.0,-14.0,-16.0,-2.0,...,-38.0,-11.0,4.0,7.0,11.0,33.0,39.0,119.0,43.0,0
4,6.0,0.0,0.0,-2.0,-14.0,10.0,-51.0,5.0,7.0,0.0,...,38.0,-35.0,-8.0,2.0,6.0,-13.0,-24.0,-112.0,-69.0,0

,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,activity_9,activity_10,...,activity_56,activity_57,activity_58,activity_59,activity_60,activity_61,activity_62,activity_63,activity_64,gesture
0,-7.0,-1.0,-1.0,0.0,-10.0,-10.0,-1.0,1.0,-5.0,-5.0,...,6.0,-4.0,-3.0,-5.0,-3.0,15.0,11.0,-4.0,-5.0,1
1,-6.0,-2.0,-5.0,-2.0,27.0,42.0,3.0,5.0,11.0,1.0,...,2.0,-17.0,-5.0,-7.0,-2.0,15.0,12.0,0.0,-7.0,1
2,5.0,0.0,-1.0,-2.0,2.0,-9.0,1.0,5.0,1.0,-3.0,...,-11.0,-23.0,1.0,-1.0,-1.0,-23.0,-25.0,2.0,-1.0,1
3,31.0,4.0,2.0,-2.0,38.0,14.0,2.0,7.0,-2.0,4.0,...,-4.0,13.0,2.0,-1.0,-3.0,-7.0,0.0,-3.0,-2.0,1
4,-4.0,-4.0,3.0,3.0,-25.0,-46.0,-1.0,3.0,-7.0,-6.0,...,15.0,4.0,-4.0,-1.0,-1.0,7.0,26.0,3.0,-7.0,1

,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,activity_9,activity_10,...,activity_56,activity_57,activity_58,activity_59,activity_60,activity_61,activity_62,activity_63,activity_64,gesture
0,4.0,19.0,-9.0,-7.0,-3.0,-36.0,-6.0,-23.0,3.0,-21.0,...,9.0,-14.0,-2.0,-3.0,-4.0,-21.0,7.0,-8.0,-12.0,2
1,-1.0,12.0,20.0,7.0,20.0,-73.0,-4.0,-2.0,4.0,5.0,...,-3.0,-5.0,-2.0,0.0,-4.0,-7.0,5.0,6.0,9.0,2
2,4.0,5.0,-8.0,-2.0,10.0,-10.0,-10.0,16.0,-3.0,-18.0,...,2.0,0.0,2.0,3.0,-8.0,19.0,20.0,0.0,-8.0,2
3,-3.0,-3.0,5.0,11.0,25.0,-20.0,-2.0,14.0,9.0,32.0,...,15.0,-2.0,16.0,6.0,9.0,1.0,31.0,16.0,4.0,2
4,-5.0,-9.0,-2.0,-5.0,-46.0,-34.0,-9.0,-4.0,0.0,8.0,...,-5.0,-11.0,-6.0,7.0,6.0,-10.0,-24.0,-6.0,0.0,2

,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,activity_9,activity_10,...,activity_56,activity_57,activity_58,activity_59,activity_60,activity_61,activity_62,activity_63,activity_64,gesture
0,-22.0,-9.0,-6.0,-1.0,21.0,26.0,-2.0,5.0,5.0,0.0,...,-10.0,-15.0,-6.0,-3.0,3.0,20.0,25.0,1.0,1.0,3
1,-7.0,0.0,1.0,0.0,-13.0,-18.0,0.0,-9.0,-6.0,-2.0,...,-1.0,11.0,-4.0,-5.0,-4.0,3.0,-8.0,-7.0,-3.0,3
2,-6.0,-6.0,-6.0,-8.0,25.0,43.0,-4.0,7.0,6.0,1.0,...,3.0,2.0,1.0,3.0,-1.0,1.0,9.0,4.0,4.0,3
3,2.0,1.0,1.0,1.0,0.0,-23.0,2.0,-6.0,-1.0,-2.0,...,16.0,-3.0,-1.0,-1.0,-3.0,0.0,-3.0,4.0,3.0,3
4,0.0,3.0,4.0,5.0,1.0,25.0,-9.0,0.0,0.0,1.0,...,1.0,6.0,2.0,1.0,-3.0,-20.0,-42.0,-4.0,2.0,3

In [66]:
gestures = pd.concat([gesture_0[:2900], gesture_1[:2900], gesture_2[:2900], gesture_3][:2900])
gestures.head()

,activity_1,activity_2,activity_3,activity_4,activity_5,activity_6,activity_7,activity_8,activity_9,activity_10,...,activity_56,activity_57,activity_58,activity_59,activity_60,activity_61,activity_62,activity_63,activity_64,gesture
0,26.0,4.0,5.0,8.0,-1.0,-13.0,-109.0,-66.0,-9.0,2.0,...,-28.0,61.0,4.0,8.0,5.0,4.0,-7.0,-59.0,16.0,0
1,-47.0,-6.0,-5.0,-7.0,13.0,-1.0,35.0,-10.0,10.0,-4.0,...,-25.0,47.0,6.0,6.0,5.0,13.0,21.0,111.0,15.0,0
2,-19.0,-8.0,-8.0,-8.0,-21.0,-6.0,-79.0,12.0,0.0,5.0,...,-83.0,7.0,7.0,1.0,-8.0,7.0,21.0,114.0,48.0,0
3,2.0,3.0,0.0,2.0,0.0,22.0,106.0,-14.0,-16.0,-2.0,...,-38.0,-11.0,4.0,7.0,11.0,33.0,39.0,119.0,43.0,0
4,6.0,0.0,0.0,-2.0,-14.0,10.0,-51.0,5.0,7.0,0.0,...,38.0,-35.0,-8.0,2.0,6.0,-13.0,-24.0,-112.0,-69.0,0

In [74]:
gestures.dtypes

activity_1     float64
activity_2     float64
activity_3     float64
activity_4     float64
activity_5     float64
activity_6     float64
activity_7     float64
activity_8     float64
activity_9     float64
activity_10    float64
activity_11    float64
activity_12    float64
activity_13    float64
activity_14    float64
activity_15    float64
activity_16    float64
activity_17    float64
activity_18    float64
activity_19    float64
activity_20    float64
activity_21    float64
activity_22    float64
activity_23    float64
activity_24    float64
activity_25    float64
activity_26    float64
activity_27    float64
activity_28    float64
activity_29    float64
activity_30    float64
                ...
activity_36    float64
activity_37    float64
activity_38    float64
activity_39    float64
activity_40    float64
activity_41    float64
activity_42    float64
activity_43    float64
activity_44    float64
activity_45    float64
activity_46    float64
activity_47    float64
activity_48    float64
activity_49    float64
activity_50    float64
activity_51    float64
activity_52    float64
activity_53    float64
activity_54    float64
activity_55    float64
activity_56    float64
activity_57    float64
activity_58    float64
activity_59    float64
activity_60    float64
activity_61    float64
activity_62    float64
activity_63    float64
activity_64    float64
gesture          int64
Length: 65, dtype: object